from __future__ import annotations
from abc import ABC
from operator import methodcaller
from typing import List
from collections import deque
from copy import deepcopy
from ast import literal_eval

import itertools
import logging
import random

# ===== logging =====

CALOG = logging.DEBUG+1  # used for feedback on adding called
SVLOG = logging.DEBUG+2  # used for signature validity check
GCLOG = logging.INFO+1   # used for guard condition
ACLOG = logging.INFO+2   # used for action chosen
VARLOG = logging.INFO+3  # used for variables
SCLOG = logging.INFO+4   # used for state change

logging.basicConfig(level=logging.INFO)
logging.addLevelName(CALOG, "CALL")
logging.addLevelName(SVLOG, "SIG")
logging.addLevelName(GCLOG, "GUARD")
logging.addLevelName(ACLOG, "ACTION")
logging.addLevelName(VARLOG, "VAR")
logging.addLevelName(SCLOG, "STATE")

# ===== Colors =====
Reset = "\u001B[0m"
Red = "\u001b[31m"
Green = "\u001b[32m"
Blue = "\u001B[34m"
Cyan = "\u001B[36m"

# ===== Base Classes =====

#if($rootState)
class State(ABC):

    def __init__(self, *args) -> None:
        # State() => doesn't do anything
        # State(parent_state: State) => set _parent_state
        # State(parent_state: State, root_state: State) => also set _root_state

        self._children: List[State] = [] # Set once when creating children
        self.is_conc: bool = False # Set once when creating children
        self._is_children_conc: bool = False # Set once when creating children
        self.is_active: bool = False # Set at controller start, and when transition happens
        self._default_state: State = None # Set once when creating children

        self.transitions = dict()
        if len(args) >= 2 and isinstance(args[1], State):
            self._set_root_state(args[1])
        if len(args) >= 1 and isinstance(args[0], State):
            self._set_parent_state(args[0])

    def default_initialize(self):
        self.is_active = True
        if self._is_children_conc:
            for s in self._children:
                s.default_initialize()
        elif self._children:
            assert self._default_state # If we have OR states children but no default state, raise error
            self._default_state.default_initialize()

    def __repr__(self):
        return f"{self.__class__.__name__}"

    def __hash__(self):
        return id(self)

    def print_tree(self, level: int = 0):
        if self.is_active:
            color = Green
        else:
            color = Red
        print(color + "\t"*level+self.__repr__() + Reset)
        for s in self._children:
            s.print_tree(level + 1)

    def _set_parent_state(self, state: State):
        self._parent_state = state

    def _set_root_state(self, state: State):
        self._root_state = state

    def change_state(self, state: State):
        if(self._active_state is not None):
            logging.log(SCLOG, f"State change: {self._active_state} => {state}")
        self._active_state = state

    def __eq__(self, obj):
        return type(self) == type(obj)

    def __ne__(self, obj):
        return type(self) != type(obj)

    def get_active_child_state(self) -> State:
        if self._is_children_conc:
            return None
        for child_state in self._children:
            if child_state.is_active:
                return child_state
        return None

#end
#if($signatures)

def random_subset(s):
    return set([e for e in s if random.randint(0, 1) == 0])

class MetaSet(type):
    """
    Used by variables to make operations consistent.
    - static variable is a class and a dynamic variable is an instance
    """

    class Set:
        """
        Everything will be turned into a set. Set of strings or set of tuples.
        """
        def __init__(self, initvalue=()):
            if isinstance(initvalue, MetaSet.Set):
                self._set = initvalue._set
            elif isinstance(initvalue, set):
                self._set = initvalue
            elif isinstance(initvalue, list):
                self._set = set(initvalue)
            elif isinstance(initvalue, MetaSet):
                self._set = initvalue.objects()
            elif isinstance(initvalue, Signature):
                self._set = initvalue.elements
            elif isinstance(initvalue, Relation):
                self._set = initvalue.values
            elif isinstance(initvalue, tuple):
                self._set = {initvalue}
            elif isinstance(initvalue, str):
                self._set = {initvalue}
            elif isinstance(initvalue, dict):
                self._set = {initvalue.values()}
            elif isinstance(initvalue, int):
                self._set = {initvalue}
            else:
                print("Exception, unsupported type in MetaSet::Set: %s", type(initvalue))

        def __iter__(self):
            return iter(self._set)

        def __repr__(self):
            return str(self._set)

        # override "in" operator, e.g.,: other in cls
        def __contains__(cls, other) -> bool:
            if not isinstance(other, MetaSet.Set):
                return MetaSet.Set(other) in cls
            return other._set.issubset(cls._set)

        # override "+" operator, e.g.,: cls + other
        def __add__(cls, other) -> MetaSet.Set:
            if not isinstance(other, MetaSet.Set):
                return cls + MetaSet.Set(other)
            return MetaSet.Set(cls._set.union(other._set))

        # override "-" operator, e.g.,: cls - other
        def __sub__(cls, other) -> MetaSet.Set:
            if not isinstance(other, MetaSet.Set):
                return cls - MetaSet.Set(other)
            return MetaSet.Set(cls._set.difference(other._set))

        # override "*" operator as cartesian product
        def __mul__(cls, other) -> set(tuple):
            return set(itertools.product(cls._set, other._set))

    def __iter__(cls):
        return iter(cls.objects())

    # override "in" operator, e.g.,: other in cls
    def __contains__(cls, other):
        return  MetaSet.Set(other) in MetaSet.Set(cls.objects())

    # override "+" operator, e.g.,: cls + other
    def __add__(cls, other):
        return MetaSet.Set(cls.objects()) + MetaSet.Set(other)

    # override "-" operator, e.g.,: cls - other
    def __sub__(cls, other):
        return MetaSet.Set(cls.objects()) - MetaSet.Set(other)

    # override "*" operator as cartesian product
    def __mul__(cls, other) -> set(tuple):
        return MetaSet.Set(cls.objects()) * MetaSet.Set(other)

    # all objects in this static variable
    def objects(cls) -> set:
        if hasattr(cls, 'possible_tuples'):
            return cls.possible_tuples()    # Relation
        return cls.atoms                    # Signature


class Signature(metaclass = MetaSet):
    def __init__(self, name, multiplicity, elements=set()):
        """
        Used by state variables
        - the member variables and functions will be used by state variables

        :param str name: the name of this state variable
        :param int multiplicity: the multiplicity type of this state variable
        :member set elements: all the elements in this instance (state variable)
        """
        # for state variables:
        self.name = name
        self.multiplicity = multiplicity
        self.elements = elements
        # TODO: delete this comment
        # Note: state variables are not implemented yet, this only aims to help in the future implementation of state variables

    # Return elements
    def get_values(self) -> set:
        return self.elements

    # Returns true if the new set of elements is valid for its multiplicity
    def is_valid(self, new_elements) -> bool:
        length = len(new_elements)
        if self.multiplicity  == 0:  # Lone
            if(length != 0 and length != 1):
                return False
        elif self.multiplicity == 1: # One
            if(length != 1):
                return False
        elif self.multiplicity == 2: # Some
            if(length == 0):
                return False
        return True

    # returns true if successfully set the new set of elements for this state variable
    def update_value(self, new_elements) -> bool:
        if(self.is_valid(new_elements)):
            self.elements = new_elements
            return True
        return False

    def generate_random_value(self):
        if self.multiplicity  == 0:  # Lone
            if len(self.atoms) == 0 or random.randint(0, 1) == 0:
                return set()
            else:
                return set(random.sample(sorted(self.atoms), 1))
        elif self.multiplicity == 1: # One
            return set(random.sample(sorted(self.atoms), 1))
        elif self.multiplicity == 2: # Some
            if len(self.atoms) == 0:
                print("Exception, empty signature cannot support some multiplicity")
                exit(1)
            while True:
                ret = random_subset(self.atoms)
                if len(ret):
                    return ret
        else: # Set
            return random_subset(self.atoms)

    def __iter__(self) -> iter:
        return iter(self.elements)

    def __repr__(self):
        return f"{self.__class__.__name__} - {self.name} : {self.elements}" if self.elements else f"{self.__class__.__name__} - {self.name} : Empty"

    # override "in" operator, e.g.,: other in self
    def __contains__(self, other):
        return  MetaSet.Set(other) in MetaSet.Set(self.elements)

    # override "+" operator, e.g.,: self + other
    def __add__(self, other):
        return MetaSet.Set(self.elements) + MetaSet.Set(other)

    # override "-" operator, e.g.,: self - other
    def __sub__(self, other):
        return MetaSet.Set(self.elements) - MetaSet.Set(other)

    # override "*" operator as cartesian product
    def __mul__(self, other) -> set(tuple):
        return MetaSet.Set(self.elements) * MetaSet.Set(other)


class Relation(metaclass = MetaSet):
    def __init__(self, name, types, values=set()):
        """
        Used by state variables
        - the member variables and functions will be used by state variables

        :param str name: the name of this state variable
        :param list[string] types: the types of this state variable
        :member set values: all the tuples in this instance (state variable)
        """
        # for state variables:
        self.name = name
        self.types = types
        self.values = values

    @classmethod
    def possible_tuples(cls) -> set:
        domain_elements = [type.objects() for type in cls.types]
        return set([tup for tup in itertools.product(*domain_elements)])

    def possible_tuples_instance_method(self) -> set:
        domain_elements = [type.objects() for type in self.types]
        return set([tup for tup in itertools.product(*domain_elements)])

    def get_values(self) -> set:
        return self.values

    def generate_random_value(self):
        return random_subset(self.possible_tuples_instance_method())

    # Returns true if the new set of tuples is valid for its types
    def is_valid(self, values) -> bool:
        for v in values:
            if len(self.types) != len(v):
                return False
            for t, e in zip(self.types, v):
                if e not in t:
                    return False
        return True

    # returns true if successfully set the new set of tuples for this state variable
    def update_value(self, new_values) -> bool:
        if (self.is_valid(new_values)):
            self.values = new_values
            return True
        return False

    def __iter__(self) -> iter:
        return iter(self.values)

    def __repr__(self):
        return f"{self.__class__.__name__} - {self.name} : {self.values}" if self.values else f"{self.__class__.__name__} - {self.name} : Empty"

    # override "in" operator, e.g.,: other in self
    def __contains__(self, other):
        return  MetaSet.Set(other) in MetaSet.Set(self.values)

    # override "+" operator, e.g.,: self + other
    def __add__(self, other):
        return MetaSet.Set(self.values) + MetaSet.Set(other)

    # override "-" operator, e.g.,: self - other
    def __sub__(self, other):
        return MetaSet.Set(self.values) - MetaSet.Set(other)


#end
class VariableTracker:
    """
    A system variable state tracker. All dynamic variables are tracked here.
    It also maintains a history of all dynamic variable snapshots that have occurred so far.
    """
    def __init__(self):
        # --- Snapshots metadata ---
        self.history_of_changes = deque()   # History used for backtracking.
        self.changes = dict()               # Changes made in this snapshot.
        # TODO: [Code] Need to record the transitions taken. To avoid making the same transition twice during backtracking.

        # TODO: [Code] Add backtracking support for events.
        self.activeEvents = set()

    def __setattr__(self, name, value):
        if name in self.__dict__:
            self.changes[name] = deepcopy(self.__dict__[name])
            if isinstance(self.changes[name], Relation):
                self.__dict__[name].values = value
            else: # Assume only Relation and Signature instances are used.
                self.__dict__[name].elements = value
            logging.log(VARLOG,f"Variable [{name}] changed from \"{self.changes[name]}\" to \"{self.__dict__[name]}\".")
        else:
            self.__dict__[name] = value     # Initialization of variables.

    # TODO: delete this comment.
    # Call this when a big step is made.
    def next_step(self):
        """Save the changes made in this snapshot and start a new snapshot."""
        self.history_of_changes.append(self.changes)
        self.changes = dict()

    # TODO: delete this comment.
    # This only serves as a proof of concept at this moment.
    def back_track_big_step(self):
        """Back track to the previous snapshot."""
        changes = self.history_of_changes.pop()
        for name, value in changes.items():
            self.__dict__[name] = value


# --- Variable Tracker Initialization ---
# TODO: [Code] Consider changing the variable name SS.
SS = VariableTracker()

#if($signatures)
# --- Signatures ---

#foreach($sig in $signatures)
class ${sig.Name}(Signature):
        #if(${sig.getObjectNames()})
    atoms = {${sig.getObjectNames()}}
        #else
    atoms = set()
        #end

    #end

# --- Relations ---

    #foreach($relation in $relations)
class ${relation.Name}(Relation):
    types = ${relation.Types}
    values = ${relation.Values}

    #end

#end
#if($invariants)
# --- Invariants ---
    #foreach($inv in $invariants)
def ${inv.getName()}() -> bool:
    #if($inv.getConditions().size() == 1)
    return ($inv.getConditions().get(0))
    #else
    return $inv.getConditions().get(0)
        #set($lastIndex = ${inv.getConditions().size()} - 1)
        #foreach($guardCondition in ${inv.getConditions().subList(1, $lastIndex)})
        ${guardCondition}
        #end
        ${inv.getConditions().get($lastIndex)}
    #end

    #end

#end
# --- References to States  ---
#foreach($value in $allStates)
$value.getPythonVariableName(): State = None
#end

#if($rootState)
# --- Conc States ---
#macro(generateState $concState $padding)
${padding}class ${concState.getName()}_State(State):

	#foreach($substate in $concState.getSubstates())
		#set($tab = "    ")
		#set($newpadding = "$padding$tab")
$padding    # substate(s)
		#generateState($substate $newpadding)
	#end
$padding    def __init__(self, parent_state: State, root_state: State) -> None:
$padding        global $concState.getPythonVariableName()
$padding        $concState.getPythonVariableName() = self # Initialize global reference to this state
    #set($rootStateName = "#if(${padding} == '')self#{else}root_state#end")
    #set($parentStateName = "#if(${padding} == '')None#{else}parent_state#end")
$padding        super(#if(${padding} == '')#{else}parent_state.#end${concState.getName()}_State, self).__init__($parentStateName, $rootStateName) # init superclass
    #if(${concState.getIsConc()})## If current state is conc
$padding        self.is_conc = True
        #if(${padding} != '')## if we are not root (which does not have parent), set parent _is_children_conc to True
$padding        parent_state._is_children_conc = True
        #end
    #end
    #if($concState.getSubstates())
            #foreach ($subState in $concState.getSubstates())
                #if($subState == $concState.getDefaultSubstate())
$padding        # Add default state to children
$padding        self._default_state = (self.${subState.getName()}_State(self, $rootStateName))
$padding        self._children.append(self._default_state)
                #else
$padding        # Add non-default state to children
$padding        self._children.append(self.${subState.getName()}_State(self, $rootStateName))
                #end
            #end
    #else
$padding        # No substate for this state, so default state is None
    #end
    #if($concState.getDecls())

$padding        # state variable declarations
        #foreach($decl in $concState.getDecls())
$padding        SS.$decl
        #end
    #end
    #if($concState.getInits())

$padding        # state variable initializations
        #foreach($init in $concState.getInits())
$padding        self.$init
        #end
    #end
    #if($concState.getInitConstraints())

$padding        # state variable constraint assertions
        #foreach($init_constraint in $concState.getInitConstraints())
$padding        $init_constraint
        #end
    #end
    #if($concState.getTransitions())

$padding        # initialize state transition dictionary
        #foreach($trans in $concState.getTransitions())
$padding        self.transitions[self._trans_${trans.getTransName()}_guard] = self._trans_${trans.getTransName()}
        #end
    #end

        #if($concState.getTransitions())
$padding    # transitions
            #foreach($trans in $concState.getTransitions())
$padding    # guard for ${trans.getTransName()}
$padding    def _trans_${trans.getTransName()}_guard(self) -> bool:
		        #if(${trans.getEventCondition()})
$padding        if(not ("${trans.getEventCondition()}" in SS.activeEvents)):
$padding            return False
		        #end
            #if($trans.getGuardConditions())
                #if($trans.getGuardConditions().size() == 1)
$padding        if not ($trans.getGuardConditions().get(0)):
$padding            return False
                #else
$padding        if not $trans.getGuardConditions().get(0)
                    #set($lastIndex = ${trans.getGuardConditions().size()} - 1)
                    #foreach($guardCondition in ${trans.getGuardConditions().subList(1, $lastIndex)})
$padding            ${guardCondition}
                    #end
$padding            ${trans.getGuardConditions().get($lastIndex)}:
$padding            return False
                #end
            #end
$padding        return True

$padding    # execution for ${trans.getTransName()}
$padding    def _trans_${trans.getTransName()}(self) -> bool:
                #if($globalVariables)
$padding        # TODO: global variables (signatures used in this state)
                #foreach($globalVar in $globalVariables)
$padding        global ${globalVar}
                #end#end
$padding        print(Blue + "Taking transition ${trans.getTransName()}" + Reset)
            #if(!$trans.getActions().isEmpty() && !$trans.getAssignedVarNames().isEmpty())
                #if(!$trans.getInvariantNames().isEmpty()) #foreach($var in $trans.getAssignedVarNames())
$padding        ${var}_tmp = SS.${var}
                #end#end
                #foreach($action in $trans.getActions())
$padding        ${action}
                #end
                #if($trans.getInvariantNames().size() == 1)
$padding        if not $trans.getInvariantNames().get(0)():
                    #foreach($var in $trans.getAssignedVarNames())
$padding            SS.${var} = ${var}_tmp
$padding            return False
                    #end
                #elseif($trans.getInvariantNames().size() > 1)
$padding        if not ($trans.getInvariantNames().get(0)() and
                    #set($lastIndex = ${trans.getInvariantNames().size()} - 1)
                    #foreach($invariantName in ${trans.getInvariantNames().subList(1, $lastIndex)})
$padding            ${invariantName}() and
                    #end
$padding            ${trans.getInvariantNames().get($lastIndex)}()):
                    #foreach($var in $trans.getAssignedVarNames())
$padding            SS.${var} = ${var}_tmp
$padding            return False
                    #end
                #end
            #end
            #if(${trans.getTriggerEvent()})
$padding        SS.activeEvents.add("${trans.getTriggerEvent()}")
            #end
$padding        # Apply State Activeness Changes
                #if($trans.getNonActiveStatesAfterTrans().size() > 0)
$padding        # size = $trans.getNonActiveStatesAfterTrans().size()
$padding        states_becoming_non_active = $trans.getNonActiveStatesAfterTransPythonStr()
$padding        for state in states_becoming_non_active:
$padding            state.is_active = False
                #end
                #if($trans.getActiveStatesAfterTrans().size() > 0)
$padding        # TODO: delete this later. Do we need the line below?
$padding        # size = $trans.geActiveStatesAfterTrans().size()
$padding        states_becoming_active = $trans.getActiveStatesAfterTransPythonStr()
$padding        for state in states_becoming_active:
$padding            state.is_active = True
                #end
                #if(${trans.getTriggerEvent()})
$padding        SS.activeEvents.add("${trans.getTriggerEvent()}")
$padding        print(Cyan + "Sending event ${trans.getTriggerEvent()}" + Reset)
                #end
$padding        return True

            #end
        #end
    #end
#end

#foreach($rootState in $rootStates)
	#generateState($rootState "")
#end

#if($envVarInputs)
# --- Input Environment Variables ---

def input_env_var(env_var, var_name, hint):
    while True:
        print(f'Environment variable {var_name}({hint}) currently has value {env_var.get_values()}.')
        input_value = input(f'Please enter new value for environment variable {var_name}:')
        # leave value unchanged
        if input_value == "unchanged":
            return
        # generate random values
        if input_value == "random":
            new_value = env_var.generate_random_value()
            print("Randomly generated value: " + str(new_value))
            if not env_var.update_value(new_value):
                print("Exception, unexpected state")
                exit(1)
            return
        # update values
        if env_var.update_value(literal_eval(input_value)):
            return
        print("Invalid Value! Try again.")

def input_env_variables():
    print("Please enter values for environmental variables, \"random\" to use randomly generated value, \"unchanged\" to leave them unchanged.")
    #foreach($envVarInput in $envVarInputs)
    input_env_var(SS.${envVarInput.name}, "SS.${envVarInput.name}", "${envVarInput.hint}n")
    #end
#end

#if($rootState)
# --- Central Controller ---

class CentralController:

    def __init__(self):
        self.concState = $!{rootState.getName()}_State(None, None)
        self.concState.default_initialize()
        self.commands = {"help": self.printHelp, "execute": self.execute}
        #if(${allEnvEvents.size()}> 0)
        self.possibleEvents = {"${allEnvEvents.get(0).getModifiedName()}"#foreach($event in ${allEnvEvents.subList(1, ${allEnvEvents.size()})}), "$!{event.getModifiedName()}"#end}
        #else
        self.possibleEvents = {}
        #end

    def handle_event(self):
        unused_conc_states = {self.concState#foreach($value in $allStates)#if($value.getIsConc() && !$value.isRootState()), $value.getPythonVariableName()#end#end} # set of conc states that haven't taken a transition in this big step
        conc_state_to_active_child = dict() # dictionary that maps each conc state to its active child at the start of this big step
        for conc_state in unused_conc_states:
            conc_state_to_active_child[conc_state] = conc_state.get_active_child_state()
        prev_num_unused_conc_states = -1

        while len(unused_conc_states) > 0 and prev_num_unused_conc_states != len(unused_conc_states):
            prev_num_unused_conc_states = len(unused_conc_states)
            state_queue = [self.concState]
            while state_queue:
                cur_state = state_queue.pop(0)

                possible_transitions = []
                for k, v in cur_state.transitions.items():
                    if k():
                        possible_transitions.append(v)

                # pick a random transition that satisfy the invariants
                random.shuffle(possible_transitions)
                has_valid_transitions = False
                for trans in possible_transitions:
                    if trans():
                        has_valid_transitions = True
                        break

                # if any transitions are possible, take one at random
                if has_valid_transitions:
                    # prevent the current state from taking additional transitions if it is conc (big step maximality)
                    if cur_state.is_conc:
                        unused_conc_states.remove(cur_state)
                    # if any other conc_state's active state changed (i.e. the conc_state took a transition), prevent additional transitions
                    for conc_state in unused_conc_states.copy():
                        if conc_state.get_active_child_state() != conc_state_to_active_child[conc_state]:
                            unused_conc_states.remove(conc_state)
                # add cur_state's conc state children to queue
                elif cur_state._is_children_conc:
                    for conc_state in cur_state._children:
                        if conc_state in unused_conc_states:
                            state_queue.append(conc_state)
                # add cur_state's active state to queue
                elif cur_state.get_active_child_state() is not None:
                    state_queue.append(cur_state.get_active_child_state())

    def run(self) -> None:
        self.concState.print_tree()
        self.printHelp()
        eventName = ""
        # big step
        while eventName.lower() != "quit":
            if eventName in self.possibleEvents:
                print(Cyan + "Running model with env event " + eventName + Reset)
                SS.activeEvents.clear()
                SS.activeEvents.add(eventName)
                self.handle_event()
                self.concState.print_tree()
            elif eventName != "":
                print("Invalid event name")

            #if($envVarInputs)
            input_env_variables()
            #end
            eventName = input("Please enter an event to be processed by the model. Type \"help\" for a list of possible events\n")
            while eventName == "":
                eventName = input()

            if eventName in self.commands:
                self.commands[eventName]()
                eventName = ""

    def printHelp(self):
        print("\n-- Env Events --")
        #if(${allEnvEvents.size()}> 0)
        for x in self.possibleEvents:
            print(x)
        #end
        print("\n-- Other Commands --")
        print("execute: take a random transition (if possible)")
        print("quit: terminate the model\n")

    def execute(self):
        print(Cyan + "Running model without env event" + Reset)
        SS.activeEvents.clear()
        self.handle_event()
        self.concState.print_tree()

# --- Run the Model ---

cc: CentralController = CentralController()
cc.run()
print("Terminating RapidDash Model")
#end
