from __future__ import annotations
from operator import methodcaller
from typing import List
import logging
import random
from abc import ABC


# ===== logging =====

GCLOG = logging.DEBUG+1  # used for guard condition
ACLOG = logging.DEBUG+2  # used for action chosen
CALOG = logging.DEBUG+3  # used for feedback on adding called
SVLOG = logging.DEBUG+4  # used for signature validity check

logging.basicConfig(level=logging.INFO)
logging.addLevelName(GCLOG, "GUARD")
logging.addLevelName(ACLOG, "ACTION")
logging.addLevelName(CALOG, "CALLED")
logging.addLevelName(SVLOG, "SIG")

# ===== Base Classes =====

#if($rootState)
class State(ABC):

    def __init__(self, *args) -> None:
        # State() => doesn't do anything
        # State(parent_state: State) => set _parent_state
        # State(parent_state: State, root_state: State) => also set _root_state
        self._active_state: State = None # used when there is only one active child state
        self._conc_states: List[State] = [] # used when there is multple children conc states
        self.transitions = dict()
        if len(args) >= 2 and isinstance(args[1], State):
            self._set_root_state(args[1])
        if len(args) >= 1 and isinstance(args[0], State):
            self._set_parent_state(args[0])

    def __repr__(self):
        return f"{self.__class__.__name__}"

    def _set_parent_state(self, state: State):
        self._parent_state = state

    def _set_root_state(self, state: State):
        self._root_state = state

    def change_state(self, state: State):
        if(self._active_state is not None):
            logging.info(f"{self._active_state} => {state}")
        self._active_state = state

    def __eq__(self, obj):
        return type(self) == type(obj)

    def __ne__(self, obj):
        return type(self) != type(obj)

    def handleEvent(self):
        possible_transitions = []
        for k, v in self.transitions.items():
            if k():
                possible_transitions.append(v)

        if(possible_transitions):
            chosen_transition = random.randint(0, len(possible_transitions) - 1)
            possible_transitions[chosen_transition]()
        elif(self._active_state):
            self._active_state.handleEvent()
        elif(self._conc_states):
            for s in self._conc_states:
                s.handleEvent()
     
    def printStates(self):
        if(self._active_state):
            print(type(self._active_state).__name__ + "\n")
        elif(self._conc_states):
            for s in self._conc_states:
                print(type(s).__name__ + ": ")
                s.printStates()

#end
#if($signatures)
class MetaSignature(type):
    """
    Used by Signatures (statically)
    - the member variables and functions will be used by Signature Classes themselves, not the instances
    """

    class Set:
        """
        used to make more operations between Signature and instances of Signatures easier
        """
        def __init__(self, initvalue=()):
            if isinstance(initvalue, MetaSignature.Set):
                self._set = initvalue._set
            elif isinstance(initvalue, set):
                self._set = initvalue
            elif isinstance(initvalue, MetaSignature):
                self._set = initvalue.objects()
            elif isinstance(initvalue, Signature):
                self._set = initvalue.elements
            elif isinstance(initvalue, str):
                self._set = {initvalue}
            elif isinstance(initvalue, int):
                self._set = {initvalue}
            else:
                print("Exception, unsupported type in MetaSignature::Set: %s", type(initvalue))
        def __iter__(self):
            return iter(self._set)
        def __repr__(self):
            return str(self._set)

        # override "in" operator, e.g.,: other in cls
        def __contains__(cls, other) -> bool:
            if not isinstance(other, MetaSignature.Set):
                return MetaSignature.Set(other) in cls
            return other._set.issubset(cls._set)

        # override "+" operator, e.g.,: cls + other
        def __add__(cls, other) -> MetaSignature.Set:
            if not isinstance(other, MetaSignature.Set):
                return cls + MetaSignature.Set(other)
            return MetaSignature.Set(cls._set.union(other._set))

        # override "-" operator, e.g.,: cls - other
        def __sub__(cls, other) -> MetaSignature.Set:
            if not isinstance(other, MetaSignature.Set):
                return cls - MetaSignature.Set(other)
            return MetaSignature.Set(cls._set.difference(other._set))

    # override "in" operator, e.g.,: other in cls
    def __contains__(cls, other):
        return  MetaSignature.Set(other) in MetaSignature.Set(cls.objects())

    # override "+" operator, e.g.,: cls + other
    def __add__(cls, other):
        return MetaSignature.Set(cls.objects()) + MetaSignature.Set(other)

    # override "-" operator, e.g.,: cls - other
    def __sub__(cls, other):
        return MetaSignature.Set(cls.objects()) - MetaSignature.Set(other)

    # all objects in this Signature
    def objects(cls) -> set:
        return cls.sig_objects

    # the scope of this Signature
    def scope(cls) -> int:
        return len(cls.objects())


class Signature(metaclass = MetaSignature):
    def __init__(self, name, instance_scope):
        """
        Used by state variables
        - the member variables and functions will be used by state variables

        :param str name: the name of this state variable
        :param int instance_scope: the scope of this state variable
        :member set elements: all the elements in this instance (state variable)
        """
        # for state variables:
        self.name = name
        self.instance_scope = instance_scope
        self.elements = set()
        # TODO: delete this comment
        # Note: state variables are not implemented yet, this only aims to help in the future implementation of state variables

    # State variable functions
    def get_elements(self) -> set:
        return self.elements

    # check if the new set of elements is valid for this state variable
    def is_valid(self, new_elements) -> bool:
        if(len(self.elements) > self.instance_scope):
            return False
        if(new_elements - type(self).objects()):
            return False
        return True

    # returns true if successfully set the new set of elements for this state variable
    def set_passed(self, new_elements) -> bool:
        if(self.is_valid(new_elements)):
            self.elements = new_elements
            return True
        return False

    def __repr__(self):
        return f"{self.sigName} - {self.name} : {self.elements}" if self.elements else f"{self.sigName} - {self.name} : Empty"

    # override "in" operator, e.g.,: other in self
    def __contains__(self, other):
        return  MetaSignature.Set(other) in MetaSignature.Set(self.elements)

    # override "+" operator, e.g.,: self + other
    def __add__(self, other):
        return MetaSignature.Set(self.elements) + MetaSignature.Set(other)

    # override "-" operator, e.g.,: self - other
    def __sub__(self, other):
        return MetaSignature.Set(self.elements) - MetaSignature.Set(other)

class Relation:
    types = []
    tuples = []

    @classmethod
    def possible_tuples(cls):
        domain_elements = [type.sig_objects for type in cls.types]
        return [tup for tup in itertools.product(*domain_elements)]

# --- Signatures ---

#foreach($sig in $signatures)
class ${sig.Name}(Signature):
    # Signature (static) information
    sig_objects = {${sig.getObjectNames()}}
    sigName = "${sig.Name}"


#end

# --- Relations ---

#foreach($relation in $relations)
class ${relation.Name}(Relation):
    types = ${relation.Types}
    tuples = []

#end
#end

#if(${allEnvEvents.size()}> 0)
# --- Active Event Tracker ---

activeEvents = set()
#end

#if($rootState)
# --- Conc States ---
#macro(generateState $concState $padding)
${padding}class ${concState.getName()}_State(State):

	#foreach($substate in $concState.getSubstates())
		#set($tab = "    ")
		#set($newpadding = "$padding$tab")
$padding    # substate(s)
		#generateState($substate $newpadding)
	#end
$padding    def __init__(self, parent_state: State, root_state: State) -> None:
    #set($rootStateName = "#if(${padding} == '')self#{else}root_state#end")
    #set($parentStateName = "#if(${padding} == '')None#{else}parent_state#end")
$padding        super(#if(${padding} == '')#{else}parent_state.#end${concState.getName()}_State, self).__init__($parentStateName, $rootStateName) # init superclass
    #if($concState.getSubstates())
        #if(${concState.getSubstates().get(0).getIsConc()})
            #foreach ($subState in $concState.getSubstates())
$padding        self._conc_states.append(self.${subState.getName()}_State(self, $rootStateName))
            #end
        #else
$padding        self.change_state(self.${concState.getDefaultSubstate().getName()}_State(self, $rootStateName))  # go to default state
        #end
    #else
$padding        # No substate for this state, so default state is None
    #end
                #if($concState.getDecls())

$padding        # state variable declarations
	            #foreach($decl in $concState.getDecls())
$padding        $decl
                #end#end
                #if($concState.getInits())

$padding        # state variable initializations
	            #foreach($init in $concState.getInits())
$padding        self.$init
                #end#end
                #if($concState.getInitConstraints())

$padding        # state variable constraint assertions
                #foreach($init_constraint in $concState.getInitConstraints())
$padding        $init_constraint
                #end#end
                #if($concState.getTransitions())

$padding        # initialize state transition dictionary
	            #foreach($trans in $concState.getTransitions())
$padding        self.transitions[self._trans_${trans.getTransName()}_guard] = self._trans_${trans.getTransName()}
                #end#end

        #if($concState.getTransitions())
$padding    # transitions
            #foreach($trans in $concState.getTransitions())
$padding    # transition ${trans.getTransName()} guard function
$padding    def _trans_${trans.getTransName()}_guard(self) -> bool:
		        #if(${trans.getEventCondition()})
$padding        if(not ("${trans.getEventCondition()}" in activeEvents)):
$padding            return False
		        #end
                #if($trans.getGuardCondition())
$padding        if not (${trans.getGuardCondition()}):
$padding            return False
                #end
$padding        logging.log(GCLOG,f"Guard of [${concState.getName()}_${trans.getTransName()}] triggered.")
$padding        return True

$padding    # transition ${trans.getTransName()} execution function
$padding    def _trans_${trans.getTransName()}(self):
                #if($globalVariables)
$padding        # TODO: global variables (signatures used in this state)
                #foreach($globalVar in $globalVariables)
$padding        global ${globalVar}
                #end#end
$padding        logging.log(ACLOG,f"Execution of [${concState.getName()}_${trans.getTransName()}] triggered.")
                #if($trans.getAction())
$padding        ${trans.getAction()}
                #end
$padding        new_state = self._parent_state.${trans.getToStateName()}_State(self._parent_state, self._root_state)      
$padding        self._parent_state.change_state(new_state)
$padding        #if(${trans.getTriggerEvent()})activeEvents.add("${trans.getTriggerEvent()}") #end

            #end
        #end
    #end
#end

#foreach($concState in $concStateList)
	#generateState($concState "")
#end
#if($rootState)
# --- Central Controller ---

class CentralController:

    def __init__(self):
        self.concState = $!{rootState.getName()}_State(None, None)
        #if(${allEnvEvents.size()}> 0)
        self.possibleEvents = {"${allEnvEvents.get(0).getModifiedName()}"#foreach($event in ${allEnvEvents.subList(1, ${allEncEvents.size()})}), "$!{event.getModifiedName()}"#end}
        #end
    
    def run(self) -> None:
        eventName = ""
        # big step
        while(eventName != "QUIT"):
            eventName = input("Please enter an event to be processed by the model. Type \"help\" for a list of possible events\n")

            while(eventName == "help" or eventName == "states"):
                if(eventName == "help"):
                    print("\nEnv Events:")
                    for x in self.possibleEvents:
                        print(x)
                    print("\nOther Commands:")
                    print("states: print the model's current states")
                    print("QUIT: terminate the model\n")
                elif(eventName == "states"):
                    print("\n" + type(self.concState).__name__ + " Current States:\n")
                    self.concState.printStates()

                eventName = input("Please enter an event to be processed by the model. Type \"help\" for a list of possible events\n")

            if(eventName in self.possibleEvents):
                activeEvents.clear()
                activeEvents.add(eventName)
                # TODO: refactor to only allow 1 transition per conc state in a big step
                self.concState.handleEvent()
            elif(eventName != "QUIT"):
                print("Invalid event name")


# --- Run the Model ---

cc: CentralController = CentralController()
cc.run()
print("Terminating RapidDash Model")
#end
