from __future__ import annotations
from operator import methodcaller
from typing import List
import logging
import random
from abc import ABC


# ===== logging =====

GCLOG = logging.DEBUG+1  # used for guard condition
ACLOG = logging.DEBUG+2  # used for action chosen
CALOG = logging.DEBUG+3  # used for feedback on adding called
SVLOG = logging.DEBUG+4  # used for signature validity check

logging.basicConfig(level=logging.INFO)
logging.addLevelName(GCLOG, "GUARD")
logging.addLevelName(ACLOG, "ACTION")
logging.addLevelName(CALOG, "CALLED")
logging.addLevelName(SVLOG, "SIG")

# ===== Base Classes =====

#if($concState)
class State(ABC):

    def __init__(self, *args) -> None:
        # State() => doesn't do anything
        # State(parent_state: State) => set _parent_state
        # State(parent_state: State, root_state: State) => also set _root_state
        self._active_state: State = None # used when there is only one active child state
        self._conc_states: List[State] = [] # used when there is multple children conc states
        self.transitions = dict()
        if len(args) >= 2 and isinstance(args[1], State):
            self._set_root_state(args[1])
        if len(args) >= 1 and isinstance(args[0], State):
            self._set_parent_state(args[0])

    def __repr__(self):
        return f"{self.__class__.__name__}"

    def _set_parent_state(self, state: State):
        self._parent_state = state

    def _set_root_state(self, state: State):
        self._root_state = state

    def change_state(self, state: State):
        if(self._active_state is not None):
            logging.info(f"{self._active_state} => {state}")
        self._active_state = state

    def __eq__(self, obj):
        return type(self) == type(obj)

    def __ne__(self, obj):
        return type(self) != type(obj)

    def handleEvent(self):
        possible_transitions = []
        for k, v in self.transitions.items():
            if k():
                possible_transitions.append(v)

        if(possible_transitions):
            chosen_transition = random.randint(0, len(possible_transitions) - 1)
            possible_transitions[chosen_transition]()
        elif(self._active_state):
            self._active_state.handleEvent()
        elif(self._conc_states):
            for s in self._conc_states:
                s.handleEvent()


#end
#if($signatures)
class MetaSignature(type):
    # Signature (static) function
    def __contains__(cls, other):
        if isinstance(other, MetaSignature):
            return other.possible_objects().issubset(cls.possible_objects())
        if isinstance(other, Signature):
            return other.elements.issubset(cls.possible_objects())
        if isinstance(other, str):
            return other in cls.possible_objects()
        return False


class Signature(metaclass = MetaSignature):
    def __init__(self, name):
        """
        Initialize a Signature object. For abstract signatures, the cardinality denotes the number of additional atoms
        other than the atoms contained in its subsigs.

        :param str name: the name of this state variable

        :member set elements: all the elements in this instance (state variable)
        """
        self.name = name
        self.elements = set()

    # State variable functions
    def get_elements(self) -> set:
        return self.elements

    def __repr__(self):
        return f"{self.sigName} - {self.name} : {self.elements}" if self.elements else f"{self.sigName} - {self.name} : Empty"

    def __contains__(self, other):
        if isinstance(other, MetaSignature):
            return other.possible_objects().issubset(self.elements)
        if isinstance(other, Signature):
            return other.elements.issubset(self.elements)
        if isinstance(other, str):
            return other in self.elements
        return False


    def set_failed(self, new_elements) -> bool:
        if(type(self).is_valid(new_elements)):
            self.elements = new_elements
            return False
        return True


# --- Signatures ---

#foreach($sig in $signatures)
    #if(${sig.isSubset()})
class ${sig.Name}(${sig.getParentsName()}):
    #elseif(${sig.isSubsig()})
class ${sig.Name}(${sig.getParentName()}):
    #else
class ${sig.Name}(Signature):
    #end
    # Signature (static) information
    sig_objects = {${sig.getObjectNames()}}
    sigName = "${sig.Name}"

    def __init__(self, name):
    #if(${sig.isSubset()})
        # TODO: maybe we don't need to initialize using super() for subsets
        #foreach($parentName in $sig.getParentNames())
        ${parentName}.__init__(self, name)
        #end
    #elseif(${sig.isSubsig()})
        ${sig.getParentName()}.__init__(self, name)
    #else
        Signature.__init__(self, name)
    #end

    def possible_objects() -> set:
    #if(${sig.isSubset()})
        return ${sig.Name}.sig_objects.union(${sig.getParentNames().get(0)}.possible_objects()#foreach($parentName in ${sig.getParentNames().subList(1, ${sig.getParentNames().size()})}), ${parentName}.possible_objects()#end)
    #else
        #if(${sig.hasChildSubsig()})
        return ${sig.Name}.sig_objects.union(${sig.getSubsigNames().get(0)}.possible_objects()#foreach($subsigName in ${sig.getSubsigNames().subList(1, ${sig.getSubsigNames().size()})}), ${subsigName}.possible_objects()#end)
        #else
        return ${sig.Name}.sig_objects
        #end
    #end

    def is_valid(elements) -> bool:
        #if(${sig.getLowerBound()} != 0)
        if(len(elements) < ${sig.getLowerBound()} or len(elements) > ${sig.getUpperBound()}):
        #else
        if(len(elements) > ${sig.getUpperBound()}):
        #end
            return False
        if(elements - ${sig.Name}.possible_objects()):
            return False
        return True


    #end
#end

#if(${allEnvEvents.size()}> 0)
# --- Active Event Tracker ---

activeEvents = set()
#end

#if($concState)
# --- Conc States ---
#macro(generateState $concState $padding)
${padding}class ${concState.getName()}_State(State):

	#foreach($substate in $concState.getSubstates())
		#set($tab = "    ")
		#set($newpadding = "$padding$tab")
$padding    # substate(s)
		#generateState($substate $newpadding)
	#end
$padding    def __init__(self, parent_state: State, root_state: State) -> None:
    #set($rootStateName = "#if(${padding} == '')self#{else}root_state#end")
    #set($parentStateName = "#if(${padding} == '')None#{else}parent_state#end")
$padding        super(#if(${padding} == '')#{else}parent_state.#end${concState.getName()}_State, self).__init__($parentStateName, $rootStateName) # init superclass
    #if($concState.getSubstates())
        #if(${concState.getSubstates().get(0).getIsConc()})
            #foreach ($subState in $concState.getSubstates())
$padding        self._conc_states.append(self.${subState.getName()}_State(self, $rootStateName))
            #end
        #else
$padding        self.change_state(self.${concState.getDefaultSubstate().getName()}_State(self, $rootStateName))  # go to default state
        #end
    #else
$padding        # No substate for this state, so default state is None
    #end
                #if($concState.getDecls())

$padding        # state variable declarations
	            #foreach($decl in $concState.getDecls())
$padding        $decl
                #end#end
                #if($concState.getInits())

$padding        # state variable initializations
	            #foreach($init in $concState.getInits())
$padding        self.$init
                #end#end
                #if($concState.getInitConstraints())

$padding        # state variable constraint assertions
                #foreach($init_constraint in $concState.getInitConstraints())
$padding        $init_constraint
                #end#end
                #if($concState.getTransitions())

$padding        # initialize state transition dictionary
	            #foreach($trans in $concState.getTransitions())
$padding        self.transitions[self._trans_${trans.getTransName()}_guard] = self._trans_${trans.getTransName()}
                #end#end

        #if($concState.getTransitions())
$padding    # transitions
            #foreach($trans in $concState.getTransitions())
$padding    # transition ${trans.getTransName()} guard function
$padding    def _trans_${trans.getTransName()}_guard(self) -> bool:
		        #if(${trans.getEventCondition()})
$padding        if(not ("${trans.getEventCondition()}" in activeEvents)):
$padding            return False
		        #end
                #if($trans.getGuardCondition())
$padding        if not (${trans.getGuardCondition()}):
$padding            return False
                #end
$padding        logging.log(GCLOG,f"Guard of [${concState.getName()}_${trans.getTransName()}] triggered.")
$padding        return True

$padding    # transition ${trans.getTransName()} execution function
$padding    def _trans_${trans.getTransName()}(self):
                #if($globalVariables)
$padding        # TODO: global variables (signatures used in this state)
                #foreach($globalVar in $globalVariables)
$padding        global ${globalVar}
                #end#end
$padding        logging.log(ACLOG,f"Execution of [${concState.getName()}_${trans.getTransName()}] triggered.")
                #if($trans.getAction())
$padding        ${trans.getAction()}
                #end
$padding        new_state = self._parent_state.${trans.getToStateName()}_State(self._parent_state, self._root_state)      
$padding        self._parent_state.change_state(new_state)
$padding        #if(${trans.getTriggerEvent()})activeEvents.add("${trans.getTriggerEvent()}") #end

            #end
        #end
    #end
#end

#foreach($concState in $concStateList)
	#generateState($concState "")
#end
#if($concState)
# --- Central Controller ---

class CentralController:

    def __init__(self):
        self.concState = $!{rootState.getName()}_State(None, None)
        #if(${allEnvEvents.size()}> 0)
        self.possibleEvents = {"${allEnvEvents.get(0).getModifiedName()}"#foreach($event in ${allEnvEvents.subList(1, ${allEncEvents.size()})}), "$!{event.getModifiedName()}"#end}
        #end
    
    def run(self) -> None:
        eventName = ""
        # big step
        while(eventName != "QUIT"):
            eventName = input("Please enter an event to be processed by the model. Type \"help\" for a list of possible events\n")

            while(eventName == "help"):
                for x in self.possibleEvents:
                    print(x)
                print("QUIT")

                eventName = input("Please enter an event to be processed by the model. Type \"help\" for a list of possible events\n")

            if(eventName in self.possibleEvents):
                activeEvents.clear()
                activeEvents.add(eventName)
                # TODO: refactor to only allow 1 transition per conc state in a big step
                self.concState.handleEvent()
            elif(eventName != "QUIT"):
                print("Invalid event name")


# --- Run the Model ---

cc: CentralController = CentralController()
cc.run()
print("Terminating RapidDash Model")
#end
